InheritParentConfig: true
# Google Test forces to disable the following
Checks: '-cert-err58-cpp,-cppcoreguidelines-avoid-goto,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-special-member-functions,-fuchsia-statically-constructed-objects,-hicpp-avoid-goto,-hicpp-special-member-functions,-hicpp-vararg,-performance-unnecessary-copy-initialization'
