---
name: experimental-build

on: [push]

jobs:
  build:
    runs-on: macos-latest

    env:
      BUILD_TYPE: ${{matrix.BUILD_TYPE}}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: XCode Release iwyu, aggressive cppcheck, not standalone
            BUILD_TYPE: Release

          - name: XCode Debug iwyu, aggressive cppcheck, not standalone
            BUILD_TYPE: Debug

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up dependencies for macOS
        run: |
          rm '/usr/local/bin/2to3-3.11'
          rm '/usr/local/bin/idle3.11'
          rm '/usr/local/bin/pydoc3.11'
          rm '/usr/local/bin/python3.11'
          brew update
          brew install boost cppcheck iwyu

      - name: Create build environment
        run: mkdir ${{github.workspace}}/build

      - name: Configure CMake
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: |
          export CC=clang
          export CXX=clang++
          cmake "$GITHUB_WORKSPACE" "-DCMAKE_BUILD_TYPE=$BUILD_TYPE" -DIWYU=ON \
            -DCPPCHECK_AGGRESSIVE=ON -Wdev --warn-uninitialized

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: make -j3
        continue-on-error: true
