name: msvc-build

on: [push]

jobs:
  build:
    runs-on: windows-2022

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: MSVC Release
            preset: "msvc-release"

          - name: MSVC Release with ASan
            preset: "msvc-release-asan"

          - name: MSVC Debug
            preset: "msvc-debug"

          - name: MSVC LLVM Release
            preset: "msvc-llvm-release"

          - name: MSVC LLVM Debug
            preset: "msvc-llvm-debug"

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Boost
        uses: MarkusJx/install-boost@v2.1.0
        id: install-boost
        with:
          boost_version: 1.78.0
          platform_version: 2019
          toolset: msvc

      - name: Setup command line tools
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake
        run: cmake --preset "${{ matrix.preset }}"
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}

      - name: Build
        run: cmake --build --preset "${{ matrix.preset }}"

      - name: Test
        run: ctest -V --preset "${{ matrix.preset }}"
